MONGO_URI=mongodb+srv://kalikamtiit_db_user:MDH4sRVoMo8z67dD@kmti.an7qdhb.mongodb.net/kmti?retryWrites=true&w=majority
PORT=5000
CORS_ORIGIN=https://kmti.edu.np

EMAIL_USER=kalikamti.it@gmail.com
EMAIL_PASS=iziacnphcoojghot

JWT_SECRET=kmti_jwt_secret_2026
ADMIN_USER=admin
ADMIN_PASS=admin123